

.brown-sugar {
    color: #ff0000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    margin-top: 50px

}

#table-yuk {
    margin: 20px 0px 10px 50px;
    background-color: aqua 
    padding: 20px
}